* text=auto eol=lf
*.pp eol=lf linguist-language=EBNF
*.pp2 eol=lf linguist-language=EBNF
*.pp3 eol=lf linguist-language=EBNF

# GIT
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore

# Common
/.github export-ignore

# Tools
.php-cs-fixer.php export-ignore
monorepo-builder.php export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
