includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  # Components
  - libs/components/compiler/phpstan.neon
  - libs/components/exception/phpstan.neon
  - libs/components/lexer/phpstan.neon
  - libs/components/lexer-builder/phpstan.neon
  - libs/components/parser/phpstan.neon
  - libs/components/parser-builder/phpstan.neon
  - libs/components/position/phpstan.neon
  - libs/components/source/phpstan.neon
  # Contracts
  - libs/contracts/lexer/phpstan.neon
  - libs/contracts/parser/phpstan.neon
  - libs/contracts/position/phpstan.neon
  - libs/contracts/position-factory/phpstan.neon
  - libs/contracts/source/phpstan.neon
  - libs/contracts/source-factory/phpstan.neon
parameters:
  level: max
  strictRules:
    allRules: true
  fileExtensions:
    - php
  tmpDir: vendor/.cache.phpstan
  treatPhpDocTypesAsCertain: false
  # Other checks
  reportUnmatchedIgnoredErrors: true
  reportAlwaysTrueInLastCondition: false
  ignoreErrors:
    # Design By Contract assertions should not affect the statistical analysis
    # - identifier: if.alwaysTrue
    # - identifier: if.alwaysFalse
    # - identifier: booleanNot.alwaysTrue
    # - identifier: booleanNot.alwaysFalse
    - identifier: instanceof.alwaysTrue
    #  - identifier: instanceof.alwaysFalse
