includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  # Components
  - libs/components/lexer/phpstan.neon
  - libs/components/lexer-compiler/phpstan.neon
  - libs/components/parser/phpstan.neon
  - libs/components/source/phpstan.neon
  # Contracts
  - libs/contracts/lexer/phpstan.neon
  - libs/contracts/parser/phpstan.neon
  - libs/contracts/source/phpstan.neon
parameters:
  level: max
  strictRules:
    allRules: true
  fileExtensions:
    - php
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: true
  reportAlwaysTrueInLastCondition: false
  ignoreErrors:
    - identifier: instanceof.alwaysTrue
