<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>libs/*/tests/Unit</directory>
            <directory>libs/contracts/*/tests</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>libs/*/tests/Functional</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">libs/*/src</directory>
            <directory suffix=".php">libs/contracts/*/src</directory>
        </include>
    </source>
</phpunit>
