<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="phplrt/compiler">
            <directory suffix="TestCase.php">src/Compiler/tests</directory>
        </testsuite>
        <testsuite name="phplrt/exception">
            <directory suffix="TestCase.php">src/Exception/tests</directory>
        </testsuite>
        <testsuite name="phplrt/lexer">
            <directory suffix="TestCase.php">src/Lexer/tests</directory>
        </testsuite>
        <testsuite name="phplrt/parser">
            <directory suffix="TestCase.php">src/Parser/tests</directory>
        </testsuite>
        <testsuite name="phplrt/position">
            <directory suffix="TestCase.php">src/Position/tests</directory>
        </testsuite>
        <testsuite name="phplrt/source">
            <directory suffix="TestCase.php">src/Source/tests</directory>
        </testsuite>
        <testsuite name="phplrt/visitor">
            <directory suffix="TestCase.php">src/Visitor/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/**/src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>
